node_modules
.DS_Store
.idea
.husky
.next

.env.prod
*.local
*.cache
*error.log
*debug.log
*.conf
sitemap.xml

lib
dist
dist-ssr
coverage
logs
test-results
.pnpm-store
tsconfig.tsbuildinfo
.pnpm-store