.navCardWrapper {
  display: flex;
  justify-content: space-between;
  position: relative;

  .card:not(:first-child) {
    margin-top: 16px;
  }

  .cardWrapper {
    flex: 1;
    * {
      background-color: var(--bg-box) !important;
      border: none !important;
    }
  }

  .menuWrapper {
    margin-right: 16px;
    display: flex;
    * {
      background-color: var(--bg-box) !important;
      border: none !important;
    }
    .menu {
      height: 100%;
    }

    .button {
      position: absolute;
      bottom: 0;
      background: none;
      box-shadow: none;
    }
  }

  .right {
    flex: 1;
    padding-left: 16px;
  }
}
