body {
  --primary-color: #f44336;
  --sun-color: #eec413;
  --link-color: #4299e1;
  --border-radius: 8px;

  // 亮色主题
  --bg: #ffffff;
  --bg-second:  #f3f5f7;
  --rgb-bg-second: #f3f5f7;
  --bg-body: #e7eaee;
  --bg-footer:  var(--bg);
  --bg-code: #f8f8f8;
  --blockquote-color: rgba(0, 0, 0, 0.65);
  --main-text-color: rgba(0, 0, 0, 0.85);
  --second-text-color: rgba(0, 0, 0, 0.65);
  --disable-text-color: rgba(0, 0, 0, 0.35);
  --border-color: #e5e6eb;
  --box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
  --scrollbar-bg: #dadada;
  --comment-editor-border-color: #d9d9d9; // 评论框所用编辑器边框颜色
  --comment-editor-disable-bg: #f5f5f5; // 评论框所用编辑器按钮禁用背景色
  --global-bg-opacoty: 0.75;
  --blink-bg-color: rgba(255, 255, 255, 0.5);
  --bg-table: var(--bg-code);
  --bg-box: var(--bg);
  --font-color-base: #ffffff;

  ---brand-danger: #dc3545;
  ---brand-info: #17a2b8;
  ---brand-success: #00b74a;
  ---brand-warning: #fc651f;
  ---brand-secondary: #6c757d;
  ---brand-yellow: #f5c800;
  ---brand-font: #343a40;
  ---brand-sub: #808695;

  img {
    opacity: 1;
  }
}

body.dark {
  --sun-color: #eec413;
  // 暗黑主题
  --bg: #1e2a36;
  --bg-second: #1a242f;
  --rgb-bg-second: 26,36,47;
  --bg-body: var(--bg);
  --bg-footer: var(--bg-second);
  --bg-code: #0b1c2c;
  --blockquote-color: #dddbdb;
  --main-text-color: #dddbdb;
  --second-text-color: #808695;
  --disable-text-color: #1e2a36;
  --border-color: #2f373e;
  --box-shadow: rgba(23,31,40,0.57);
  --scrollbar-bg: var(--bg-second);
  --comment-editor-border-color: var(--border-color);
  --comment-editor-disable-bg: var(--border-color); // 评论框所用编辑器按钮禁用背景色
  --global-bg-opacoty: 0.25;
  --blink-bg-color: rgba(0, 0, 0, 0);
  --bg-table: var(--bg);
  --font-color-base: #ffffff;
  --bg-box: #1a242f;
  
  img {
    opacity: 0.75;
    transition: opacity 0.5s ease-in-out;
  }
}
