.searchItem {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  &:hover {
    color: var(--primary-color);
  }
  .description {
    color: var(--second-text-color);
  }
}
.wrapper {
  padding: 16px 24px !important;
}
.pop {
  background-color: var(--bg-box) !important;
}
.searchWrapper {
  background-color: var(--bg-box) !important;
  .autoComplete {
    width: 100%;
    height: 48px !important;
    * {
      background-color: var(--bg-box) !important;
    }
  }

  .searchCategory,
  .searchSubCategory {
    background-color: var(--bg-box) !important;
    > div {
      margin: 0 !important;
      div {
        justify-content: center !important;
      }
    }
  }
  .searchSubCategory {
    > div {
      > div {
        > div {
          > div:last-child {
            top: 0 !important;
            content: '';
            border-width: 8px 8px 0px 8px;
            border-style: solid;
            border-color: #f44336 transparent transparent;
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -8px;
            background: none;
            width: 0px !important;
          }
        }
      }
    }
  }

  .searchInput {
    border-radius: 24px;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: var(--primary-color);
    }
  }

  .wrapper {
    height: fit-content;
    max-height: 70vh;
    overflow: scroll;
  }
}
.inner {
  box-shadow: var(--box-shadow) !important;

  .ant-modal-header {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .ant-modal-close-x {
    font-size: 18px;
  }

  .result {
    flex: 1;
    overflow: auto;
  }

  ul {
    list-style: circle;

    li {
      display: flex;
      align-items: center;

      &:hover {
        background: var(--bg-body);
      }

      a {
        display: inline-block;
        width: 100%;
        padding: 12px 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

@media (min-width: 992px) {
  .inner {
    width: 768px !important;
  }
}

@media (max-width: 576px) {
  .inner {
    width: 92% !important;
  }
}
